@charset "UTF-8";
/*
 * Box-sizing-model
*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}

/*
 * Cursor change on hover on Buttons
*/
input[type=submit] {
  cursor: pointer;
}

/*
 * A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
*/
textarea {
  resize: vertical;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.mt-10 {
  margin-top: -10px;
}

.mt25 {
  margin-top: 25px;
}

html,
body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  line-height: 1.4;
}

body {
  font-size: 1.6rem; /* 10px * 1.6 = 16px */
  font-family: "Noto Sans";
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #777;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin: 0;
  padding: 0;
}

.worker {
  width: 100%;
  height: 80px;
}

.container--mobile--no-padding {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .container--mobile--no-padding {
    padding-left: 15px;
    padding-right: 15px;
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container--mobile--no-padding {
    width: 1170px;
  }
}

/* Pseudo-elements, an allocation from above for links-yakores of the navigation unit.This code does not work, apparently.Just in case, he left him.But he solved the problems with retreats after scrolling in the Main.js file (below) with the right js */
.heading {
  font-size: 28px;
  line-height: 1.3571428571;
  font-weight: 700;
  letter-spacing: -0.5px;
  position: relative;
}
.heading--number:before {
  height: 26px;
  width: 26px;
  display: block;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  background-color: #ffc80a;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  left: -11px;
  top: -39px;
}
@media (min-width: 992px) {
  .heading--number:before {
    top: -55px;
  }
}
@media (min-width: 1200px) {
  .heading--number:before {
    left: -32px;
    top: -42px;
  }
}
.heading--number-1:before {
  content: "1";
  padding-top: 5px;
  padding-left: 9px;
}
.heading--number-2:before {
  content: "2";
  padding-top: 5px;
  padding-left: 9px;
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.top-slider-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

/* Styling Pagination*/
.top-slider-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline; /*IE7 life-saver */
}

.top-slider-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50); /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}

.top-slider-theme .owl-controls .owl-page.active span,
.top-slider-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100); /*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */
.top-slider-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #fff;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* Styling Next and Prev buttons */
.top-slider-theme .owl-controls .owl-buttons div {
  display: none;
  /* Clickable class fix problem with hover on touch devices */
  /* Use it for non-touch hover action */
}
@media (min-width: 768px) {
  .top-slider-theme .owl-controls .owl-buttons div {
    display: block;
    position: absolute;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat; /*this holy could not be indicated */
    background-position: left top; /*this holy could not be indicated */
    /*font-size: 0;  It was possible to reset the text inside the buttons (1st option).2nd dump version: In the Main.js file, install St.: navigationText: ['', ''] */
    top: 50%;
    margin-top: -25px;
  }
}
@media (min-width: 1200px) {
  .top-slider-theme .owl-controls .owl-buttons div {
    margin-top: -47px;
  }
}
.owl-prev {
  left: 0;
  background-image: url("../img/icons/arrow-left.png");
}

.owl-next {
  right: 0;
  background-image: url("../img/icons/arrow-right.png");
}

.owl-pagination {
  position: absolute;
  width: 100%;
  bottom: -62px;
}
@media (min-width: 768px) {
  .owl-pagination {
    bottom: -72px;
  }
}
@media (min-width: 992px) {
  .owl-pagination {
    display: none;
  }
}

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}

.button {
  background-color: rgb(37, 37, 37);
  box-shadow: 0px 8px 16px 0px rgb(171, 171, 171);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  letter-spacing: 0.8px;
  line-height: 1;
  display: inline-block;
  padding: 14px 44px;
}
.button:hover, .button:active, .button:focus {
  background-color: #ffc80a;
  color: #fff;
  text-decoration: none;
}

.button--orange {
  background-color: #ffc80a;
  padding: 14px 28px;
}

.btn_up {
  position: fixed;
  bottom: -50px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background: #16385f;
  z-index: 100;
  outline: 0 !important;
}
.btn_up:after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(-45deg);
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.btn_up.active {
  bottom: 20px;
}
@media (min-width: 992px) {
  .btn_up.active {
    right: 50px;
    bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .btn_up.active {
    right: 100px;
    bottom: 100px;
  }
}
@media (min-width: 1440px) {
  .btn_up.active {
    right: 200px;
    bottom: 200px;
  }
}

.package {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 47px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
  margin-bottom: 40px;
}
.package.last {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .package {
    margin-bottom: 0;
  }
}
.package__type {
  font-size: 12px;
  color: #242526;
  text-transform: uppercase;
  margin-bottom: 25px;
  letter-spacing: 0.15em;
}
.package__price {
  line-height: 1;
  font-size: 48px;
  font-weight: 700;
  color: #242526;
  margin-bottom: 13px;
}
.package__price:after {
  content: "c";
  font-family: "als_rublregular";
  font-weight: 400;
}
.package__period {
  font-size: 12px;
  line-height: 1.6666666667;
  color: #242526;
  margin-bottom: 44px;
  letter-spacing: 0.05em;
}
.package__benefits {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 44px;
}
.package__benefits ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.package__benefits ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  line-height: 20px;
}
.package__benefits ul li:before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/ok-icon.png");
  background-position: left 2px;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.benefit-block__img {
  height: 113px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.benefit-block__header {
  width: 70%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 11px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .benefit-block__header {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}
.benefit-block__text {
  max-width: 90%;
  font-size: 14px;
  line-height: 24px;
  color: #777;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .benefit-block__text {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .benefit-block__text {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .benefit-block__text {
    width: 100%;
  }
}

.service-description__img {
  position: relative;
}
.service-description__img--tablet {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .service-description__img--tablet {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .service-description__img--tablet {
    position: absolute;
    right: 80px;
  }
}
.service-description__img--rocket {
  margin-top: 50px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .service-description__img--rocket {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .service-description__img--rocket {
    position: absolute;
    left: 37px;
  }
}
.service-description__content {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  width: 98%;
  margin-top: 15px;
}
.service-description__content p {
  margin-top: 0px;
  margin-bottom: 22px;
}
@media (min-width: 1200px) {
  .service-description__content {
    padding-left: 0;
    padding-right: 0;
  }
  .service-description__content p {
    padding-left: 0;
    padding-right: 0;
  }
}
.service-description__button-arrow {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/arrow-orange.png");
  background-repeat: no-repeat;
  background-position: left top;
  margin-top: -7px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .service-description__button-arrow {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .service-description__button-arrow {
    margin-top: 2px;
    margin-left: 0;
    margin-top: 26px;
  }
}

.logo {
  padding-top: 74px;
  padding-bottom: 38px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo {
    padding-top: 98px;
    padding-bottom: 38px;
  }
}
@media (min-width: 992px) {
  .logo {
    padding-top: 40px;
    padding-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .logo {
    padding-top: 17px;
    padding-bottom: 48px;
  }
}
.logo__name {
  margin-top: 25px;
  padding-left: 0.1em;
  color: #000;
  font-size: 33px;
  line-height: 1.38;
  letter-spacing: 0.21em;
  font-weight: 700;
}
@media (min-width: 768px) {
  .logo__name {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .logo__name {
    font-size: 38px;
    letter-spacing: 0.25em;
  }
}
@media (min-width: 1200px) {
  .logo__name {
    font-size: 38px;
    letter-spacing: 9.5px;
    line-height: 1.5;
    margin-top: 27px;
  }
}
.logo__slogan {
  color: #a1bbd9;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.7em;
  font-weight: 700;
}
@media (min-width: 992px) {
  .logo__slogan {
    font-size: 16px;
    letter-spacing: 0.65em;
  }
}
@media (min-width: 1200px) {
  .logo__slogan {
    font-size: 16px;
    letter-spacing: 10.3px;
  }
}

.navigation {
  background-color: #38383a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  line-height: 26px;
  box-shadow: 0px 5px 10px 0px rgb(42, 73, 109);
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .navigation {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
}
.navigation__toggle-button {
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 15px;
}
.navigation__toggle-button:before {
  content: "";
  position: absolute;
  top: 24px;
  right: 15px;
  width: 25px;
  height: 20px;
  background: url("../img/icons/navigation-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media (min-width: 768px) {
  .navigation__toggle-button:before {
    right: 20px;
  }
}
@media (min-width: 992px) {
  .navigation__toggle-button {
    display: none;
  }
}
.navigation__toggle-button--active {
  background-color: #16385f;
}
.navigation .navigation__body {
  position: fixed;
  width: 100%;
}
@media (min-width: 992px) {
  .navigation .navigation__body {
    position: static;
  }
}
.navigation .menu__list {
  display: none;
  background-color: #35577d;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 20px;
}
.navigation .menu__list.hide {
  transform: translateY(-1000px);
}
@media (min-width: 992px) {
  .navigation .menu__list {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    line-height: 26px;
  }
}
.navigation .menu__list li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #466a92;
}
.navigation .menu__list li:last-child {
  border-bottom: none;
}
@media (min-width: 992px) {
  .navigation .menu__list li {
    border-bottom: none;
  }
}
.navigation .menu__list li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 19px 15px;
}
@media (min-width: 992px) {
  .navigation .menu__list li a {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    display: inline;
    text-decoration: none;
    border-bottom: none;
  }
  .navigation .menu__list li a:hover, .navigation .menu__list li a.active {
    color: #ffcc00;
  }
}
@media (min-width: 992px) {
  .navigation .menu__list li a.selected {
    color: #ffcc00;
  }
}

.prices {
  padding-top: 30px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .prices {
    padding-top: 34px;
    padding-bottom: 102px;
  }
}
@media (min-width: 992px) {
  .prices {
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .prices {
    padding-top: 73px;
    padding-bottom: 90px;
  }
}
.prices__subtitle {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  margin: 10px 10px 37px;
}
@media (min-width: 768px) {
  .prices__subtitle {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .prices__subtitle {
    margin-top: -10px;
  }
}
@media (min-width: 1200px) {
  .prices__subtitle {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 53px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.slider {
  height: 320px;
  background-color: #00306e;
  background-image: url("../img/bg/slider-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 100px;
  box-shadow: 0px 3px 25px 0px #688ab3;
}
@media (min-width: 992px) {
  .slider {
    height: 400px;
  }
}
@media (min-width: 768px) {
  .slider {
    padding-bottom: 83px;
  }
}
@media (min-width: 1200px) {
  .slider {
    padding-top: 100px;
    padding-bottom: 92px;
  }
}
.slider__title {
  font-size: 28px;
  line-height: 39px;
  color: #fff;
  font-family: "Noto Sans";
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .slider__title {
    margin-bottom: 6px;
  }
}
@media (min-width: 992px) {
  .slider__title {
    font-size: 32px;
    line-height: 42px;
  }
}
@media (min-width: 1200px) {
  .slider__title {
    margin-bottom: 17px;
  }
}
.slider__slogan {
  margin-left: auto;
  margin-right: auto;
  color: #cddfe0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.15px;
  font-family: "Noto Serif";
}
@media (min-width: 992px) {
  .slider__slogan {
    font-size: 22px;
    line-height: 32px;
  }
}

.benefits {
  padding-top: 35px;
  padding-bottom: 50px;
  border-bottom: 1px solid #eaeff5;
}
.benefits__row {
  margin-top: 40px;
}
.benefits__col {
  margin-bottom: 40px;
}
.benefits__col:last-child {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .benefits {
    padding-top: 32px;
    padding-bottom: 67px;
  }
}
@media (min-width: 992px) {
  .benefits {
    padding-top: 50px;
  }
}
@media (min-width: 1200px) {
  .benefits {
    padding-top: 70px;
    padding-bottom: 52px;
  }
}

.footer {
  background-color: #252525;
  color: #6c6c6c;
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (min-width: 1200px) {
  .footer {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
@media (min-width: 768px) {
  .footer p {
    width: 100%;
  }
}
.footer__title {
  color: #f7f8f9;
  font-size: 12px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.8px;
}
.footer__nav {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  list-style-type: none;
  color: #6c6c6c;
  line-height: 20px;
}
.footer__nav li {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
}
.footer__nav a {
  color: #6c6c6c;
  text-decoration: none;
}
.footer__nav a:hover {
  color: var(--default-orange);
  text-decoration: none;
}
.footer .copyright {
  margin-top: -11px;
}
@media (min-width: 1200px) {
  .footer .copyright {
    margin-top: 13px;
  }
}
.footer .copyright p {
  padding: 0;
}

.freelance {
  border-bottom: 1px solid #eaeff5;
}

.startup {
  border-bottom: 1px solid #eaeff5;
}/*# sourceMappingURL=main.css.map */