.logo {  
  padding-top: 96px;
  padding-bottom: 38px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding-top: 98px;
    padding-bottom: 38px;
  }

  @media (min-width: 992px) {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  @media (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  &__name {
    padding-left: 0.1em;
    margin-bottom: 0.19em;
    color: #000;
    font-size: 33px;
    letter-spacing: 0.21em;
    line-height: 1;
    font-weight: 700;    

    @media (min-width: 768px) {
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0.25em;
      letter-spacing: 0.25em;
    }

    @media (min-width: 992px) {
      font-size: 38px;
      letter-spacing: 0.25em;
    }
    @media (min-width: 1200px) {
      font-size: 38px;      
      line-height: 1;
      margin-bottom: 10px;      
    }
  }

  &__slogan {
    padding-left: 0.25em;
    color: #a1bbd9;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.69em;
    font-weight: 700;

    @media (min-width: 768px) {
      padding-left: 0.1em;
      letter-spacing: 0.77em;      
    }

    @media (min-width: 992px) {
      padding-left: 0;
      font-size: 16px;      
    }
    @media (min-width: 1200px) {
      font-size: 16px;
    }     
  }
}