.logo {  
  padding-top: 101px;
  padding-bottom: 38px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 38px;
  }

  @media (min-width: 992px) {
    padding-top: 53px;
    padding-bottom: 48px;
  }

  @media (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  &__name {    
    margin-bottom: 0.2em;
    line-height: 1;
    font-weight: 700;    
    font-size: 33px;
    letter-spacing: 0.27em;
    color: #000;

    @media (min-width: 768px) {
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0.25em;
      letter-spacing: 0.3em;
    }

    @media (min-width: 992px) {
      font-size: 38px;     
    }
    @media (min-width: 1200px) {
      margin-bottom: 10px;      
      line-height: 1;
      font-size: 38px;      
    }
  }

  &__slogan {    
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.71em;
    color: #a1bbd9;

    @media (min-width: 768px) {
      padding-left: 0.1em;
      letter-spacing: 0.77em;      
    }

    @media (min-width: 992px) {
      padding-left: 0;
      font-size: 16px;      
    }
    @media (min-width: 1200px) {font-size: 16px;}     
  }
}