.benefits {
	padding-top: 33px;	
	
	@media (min-width: 768px) {
		padding-top: 32px;
		padding-bottom: 67px;
	}

	@media (min-width: 1200px) {
		padding-top: 58px;
		padding-bottom: 52px;
	}	
	
	#benefits:before { 
		display: block;
		content: "";
		height: 55px;
		margin: -55px 0 0;
	}
	
}
