.footer {
	background-color: #252525;
	color: #6C6C6C;
	padding-top: 35px;
	padding-bottom: 35px;

	// position: relative;

	@media (min-width: 1200px) {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	p {		
		@media (min-width: 768px) {
			width: 100%;
		}
	}	

	&__title {
		color: #F7F8F9;
		font-size: 12px;
		margin-bottom: 25px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2.8px
	}
	&__nav {
		margin: 0;
		padding: 0;
		margin-bottom: 44px;
		list-style-type: none;
		color: #6C6C6C;
		line-height: 20px;

		li {
			margin: 0;
			padding: 0;
			margin-bottom: 16px;
			font-size: 14px;
			font-weight: 400;
		}

		a {
			color: #6C6C6C;
			text-decoration: none; 
			
			&:hover {
				color: @orange;
				text-decoration: none;
			}
		}
	}

	.copyright {
		// position: relative;
		margin-top: -11px;
		
		@media (min-width: 1200px) {
			margin-top: 13px;
		}
	

		& p {padding: 0;}
	}
}
	// Кнопка "вверх":
	.btn_up {
		position: fixed;
		bottom: -50px;
		right: 15px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 2px solid #ccc;
		background: #333;
		z-index: 100;
		outline: 0!important;

		@media (min-width: 992px) {right: 10px;}	
		@media (min-width: 1200px) {right: 90px;}	

		&:after {
			content: '';
			width: 10px;
			height: 10px;
			border-top: 2px solid #ccc;
			border-right: 2px solid #ccc;
			transform: rotate(-45deg);
			position: absolute;
			top: 4px; bottom: 0; 
			left: 0; right: 0;
			margin: auto;
		}

		&.active {bottom: 50px;}
	}


	
