.navigation {	
	background-color: #38383A;		
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #fff;
	line-height: 26px;	
	
  	box-shadow: 0px 5px 10px 0px rgba(42, 73, 109, 1); 	
	z-index: 1;
	position: relative;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;	
	
	@media (min-width: 992px) {
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;
	}
	
	&__toggle-button {
		display: block;
		position: relative;
		padding-left: 15px;
		padding-top: 21px;
		padding-bottom: 21px;
		background-color: #38383A;	
		cursor: pointer;	
		
		&:focus, &:active {
			background-color: #16385F;		
		}
		
		&:before {
			content: "";
			position: absolute;
			top: 24px;
			right: 15px;
			width: 25px;
			height: 20px;
			background: url('../img/icons/navigation-icon.png');
			background-repeat: no-repeat;
			background-position: 0 0;
		}
	
		@media (min-width: 992px) {
			display: none;
		}
	
		&__toggle-button--active {
			background-color: #16385F;
		}
		
	 }// navigation__toggle-button
		
	ul {
		display: none;
		background-color: #35577d;
		margin: 0;
		padding: 0;
		list-style-type: none;
		line-height: 20px;		
		
		@media (min-width: 992px) {
			display: flex;
			justify-content: space-between;
			background-color: transparent;
			line-height: 26px;
		}		
		
	    li {
			margin: 0;
			padding: 0;	
			
			border-bottom: 1px solid #466A92;

			&:last-child {
				border-bottom: none;
			}
						
			@media (min-width: 992px) {					
				border-bottom: none;
			}							
		
			&.active {
				color: #ffcc00;
				// border-bottom: none;
			}

			a {
				display: block;
				color: #fff;
				text-decoration: none;
				padding: 19px 15px;
				
				@media (min-width: 992px) {
					padding: 0;
					display: inline;
					text-decoration: none;
					border-bottom: none;
				}

				&:hover, &.active {
				color: #ffcc00;
				}
			}// a
					
		}// li
				
	}// ul

}// nav