.benefit-block {  
  &__img {    
    height: 113px;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: flex-start;   
  }

  &__header {    
    margin-bottom: 11px;
    margin-left: auto;
    margin-right: auto;   
    line-height: calc(24 / 18);
    font-size: 18px;
    font-weight: 700;
    color: $default-heading;

    @media (min-width: 1200px) {
      margin-bottom: 16px;
      font-size: 22px;
      line-height: calc(28 / 22);
    }
  }

  &__descr {    
    margin-left: auto;
    margin-right: auto;
    line-height: calc(24 / 14);    
    font-size: 14px;
    color: $default-color-text-14px;

    @media (min-width: 768px) {
      width: 80%;
    }
    @media (min-width: 992px) {
      width: 60%;
    }
    @media (min-width: 1200px) {
      width: 100%;
    }
  }
}