.button {
  background-color: rgb(37, 37, 37);
  box-shadow: 0px 8px 16px 0px rgba(171, 171, 171, 1);
  color: $default-white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  letter-spacing: 0.8px;
  line-height: 1;
  display: inline-block;
  padding: 14px 50px;

  &:hover,
  &:active,
  &:focus {
    background-color: $default-orange;    
    color: $default-white;
    text-decoration: none;
  }
}
.button--orange {
  background-color: $default-orange;  
}
// Button "Up":
.btn-up {
  position: fixed;  
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid $default-orange;
  background-color: transparent;
  z-index: 100;  

  &:after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 6px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 4px solid $default-orange;
    border-right: 4px solid $default-orange;
    transform: rotate(-45deg);
  }

  &.active {
    bottom: 20px;

    @media (min-width: 768px) {
      bottom: 40px;
    }
    @media (min-width: 992px) {
      bottom: 50px;
      right: 50px;
    }    
  }
}
