.heading {  
  font-size: 28px;
  line-height: calc(38 / 28);
  font-weight: 700;
  letter-spacing: -0.5px;
  color: $default-heading;
  position: relative;
  
  @media (min-width: 992px) {
    font-size: 38px;
    line-height: calc(48 / 38);
  }

  &--number:before {   
    height: 26px;
    width: 26px;
    padding-top: 5px;
    padding-left: 9px;

    display: block;    
    border-radius: 13px;
    background-color: $default-orange;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;

    position: absolute;
    left: -13px;
    top: -40px;    

    @media (min-width: 1200px) {
      left: -27px;
      top: -20px;
    }
  }

  &--number-1:before {
    content: "1";    
  }

  &--number-2:before {
    content: "2";    
  }
}
