.package {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 47px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 40px;
  border-radius: 7px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: $default-package-color;
  box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);

  &.last {margin-bottom: 0;}

  @media (min-width: 768px) {
    margin-bottom: 0; 
    display: flex;
    flex-direction: column; 
    align-items: center;   
    
    &__text {flex: 1 0 auto;
    }
  }

  &__type {
    margin-bottom: 25px;
    font-size: 12px;    
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
  &__price {
    margin-bottom: 13px;
    line-height: 1;
    font-size: 48px;
    font-weight: 700;    

    &:after {
      content: "$";
      padding-left: 5px;      
    }
  }
  &__period {
    margin-bottom: 44px;
    line-height: calc(20 / 12);    
    font-size: 12px;
    letter-spacing: 0.05em;
  }
  &__benefits {
    margin-bottom: 44px;
    line-height: calc(20 / 14);
    font-size: 14px;

    @media (min-width: 768px) {flex: 1 0 auto;}

    & ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
              
      & li {
        padding: 0;        
        margin-bottom: 10px;

        &:before {
          display: inline-block;
          content: "";
          width: 12px;
          height: 12px;
          margin-right: 10px;
          background-image: url("../img/icons/ok-icon.png");
          background-position: left 2px;
          background-repeat: no-repeat;
        }
      }
    }
  }  
}
