.service-description {  
  &__img {
    
    &--tablet {
      margin-bottom: 12px; 
      
      @media (min-width: 768px) {margin-bottom: 0;}

      @media (min-width: 1200px) {      
        position: absolute;
        left: -32px;
      }      
    }
    
    &--rocket {    
      margin-bottom: 32px;

      @media (min-width: 768px) {
        margin-top: -20px;
        margin-bottom: 0px;
      }

      @media (min-width: 1200px) {
        position: absolute;
        left: 37px;
      }
    }

  }

  &__text {
    max-width: 95%;
    margin-top: 15px;
    line-height: 24px;
    font-size: 14px;
    color: #777;

    @media (min-width: 768px) {max-width: 100%;}
    
    & p {
      margin-top: 0px;
      margin-bottom: 23px;
    }
    
    & p:last-child {margin-bottom: 0px;}
  }

  &__button-arrow {
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 20px; 
    border-radius: 30px;  
    background-image: url("../img/icons/arrow-orange.png");
    background-repeat: no-repeat;
    background-position: left top;
    transition: all 1s ease 0s;

    &:hover {background-color: #F08080;}    
    &--red:hover {background-color: #D34B15;}

    @media (min-width: 768px) {
      margin-top: 23px;
      margin-bottom: 0px;
    }

    @media (min-width: 992px) {
      &:focus-visible {
      outline: 4px solid #000;
      outline-offset: 10px;
      background-color: $default-color-links-footer;
      }
    }

    @media (min-width: 1200px) {      
      margin-top: 26px;
      margin-left: 0;
    }
  }
}
