.container--mobile--no-padding {
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  @media (min-width: 992px) {
    padding-left: 15px;
    padding-right: 15px;
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.mt-10 {margin-top: -10px;}
.mt25 {margin-top: 25px;}
.mb25 {margin-bottom: 25px;}
.pt10 {padding-top: 10px;}