.container--mobile--no-padding {
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  @media (min-width: 992px) {
    padding-left: 15px;
    padding-right: 15px;
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.container--smaller {
  @media (min-width: 768px) {
    padding-left: 11px;
    padding-right: 11px;
  }  
}

.mt-10 {
  @media (max-width: 991px) {
    margin-top: -10px;
  }  
}

.mt-13 {
  @media (min-width: 992px) and (max-width: 1199px) {
    margin-top: -13px;
  }   
}

.mt20 {
  @media (min-width: 1200px) {
    margin-top: 20px;
  }  
}
.mt25 {
  margin-top: 25px;

  @media (min-width: 1200px) {
    margin-top: 0;
  }
}
.mb25 {margin-bottom: 25px;}
.pt10 {padding-top: 10px;}