// .benefits .container {
//   padding-left: 6px;
//   padding-right: 6px;
// }
.container--mobile--no-padding {
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  @media (min-width: 992px) {
    padding-left: 15px;
    padding-right: 15px;
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.mt-10 {
  margin-top: -10px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}
.mt25 {
  margin-top: 25px;   
}

.pt10 {padding-top: 10px;}