$default-orange: #ffc80a;
$default-color-menu-active: #ffcc00;
$default-heading: #333;
$default-white: #fff;
$default-color-text-14px: #777;
$default-color-links-footer: #6c6c6c;
$default-package-color: #242526;