.heading {	
	// How we work 
	font-size: 28px;
	line-height: 38px;
	font-weight: 700;
	letter-spacing: -0.5px;
	margin-top: 0px;
	margin-bottom: 30px;
	position: relative;
	// Freelance hosting xs
	&--m-8-17 {
		margin-top: 8px;
		margin-bottom: 17px;
	}
	// Startup hosting xs
	&--m-35-15 {
		margin-top: 35px;
		margin-bottom: 15px;
	}

	@media (min-width: 768px) {
		// Freelance hosting sm & md
		&--m-t-m8-16 {
			margin-top: -8px;
			margin-bottom: 16px;
		}
		// Startup hosting sm & md
		&--m-20-16 {
			margin-top: 20px;
			margin-bottom: 16px;
		}

		@media (min-width: 1200px) {
			
		}
	}	

	@media (min-width: 1200px) {
		font-size: 38px;
		line-height: 48px;
		// Freelance hosting lg	
		&--m-20-20 {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		// Startup hosting lg
		&--m-17-21 {
			margin-top: 17px;
			margin-bottom: 21px;
		}
	}	
	
	&--number:before {		
		height: 26px;
		width: 26px;
		display: block;
		-webkit-border-radius: 13px;
				border-radius: 13px;		
		background-color: #ffc80a;
		color: #fff;
		font-size: 16px;
		font-weight: 700;
		line-height: 1;		
		padding-top: 5px;
		padding-left: 8px;
		position: absolute;
		left: -12px;
		top: -39px;	
		content: "0";
		
		@media (min-width: 1200px) {			
			left: -32px;
			top: -18px;
		}			
	}

	&--number-1:before {
		content: "1";
	}

	&--number-2:before {
		content: "2";
	}	
}