.section {
	// How we work
	padding-top: 60px;
	padding-bottom: 67px;
	// Freelance hosting xs
	&--p-40-50 {		
		padding-top: 40px;
		padding-bottom: 50px;				
	}
	// Startup hosting xs
	&--p-50-50 {
			padding-top: 50px;
			padding-bottom: 50px;				
		}
	/* Prices */
		&--p-29-50 {
			padding-top: 29px;
			padding-bottom: 50px;
		}

	@media (min-width: 768px) {
		// Freelance hosting sm & md		
		&--p-80-51 {
			padding-top: 80px;
			padding-bottom: 51px;
		}
		// Startup hosting xs & sm & md
		&--p-50-50 {
			padding-top: 50px;
			padding-bottom: 50px;				
		}						
	}
	
	@media (min-width: 1200px) {
		// Freelance hosting lg		
		&--p-70-90 {
			padding-top: 70px;
			padding-bottom: 90px;
		}
		// Startup hosting lg
		&--p-70-100 {
			padding-top: 70px;
			padding-bottom: 100px;				
		}

		/* Prices */
		&--pb-90 {
			padding-bottom: 90px;
		}
	}
}