.section {		
		// How we work xs	
	// padding-top: 30px;
	// padding-bottom: 50px;	
		// Freelance hosting xs
	// &--p-40-50 {		
	// 	padding-top: 40px;
	// 	padding-bottom: 50px;				
	// }	
		
		
	// 	// Footer xs

	@media (min-width: 768px) {
			// How we work
		// padding-top: 40px;
		// padding-bottom: 40px;
			// Freelance hosting sm & md
		&--p-80-50 {
			padding-top: 80px;
			padding-bottom: 50px;
		}
			// Startup hosting xs
		&--p-50-50 {
			padding-top: 50px;
			padding-bottom: 50px;				
		}
			/* Prices xs */
		&--p-32-102 {
			padding-top: 32px;
    		padding-bottom: 102px;			
		}
	}
			
	@media (min-width: 1200px) {
			// Freelance		
		padding-top: 70px;
		padding-bottom: 87px;

			// Startup hosting
		&--p-70-98 {
			padding-top: 70px;
			padding-bottom: 98px;
		}
	}

	// &--p-36-35 {
	// 	padding-top: 36px;
	// 	padding-bottom: 35px;
	// }	

		// @media (min-width: 768px) {			
				// How we work sm				
			// &--pb-65 {			
				// padding-top: 33px;
				// padding-bottom: 72px;
			// }
						
						
				// Prices
			// &--p-33-100 {
				// padding-top: 33px;
				// padding-bottom: 100px;
			// }	
				 					
	    // }			

				
					
						
}